<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parking Manager Demo</title>
	<link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a href="#" class="navbar-brand m-1">Parking Management</a>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/vehicles/}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/vehicles/register}" class="nav-link">Register a vehicle</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container container-fluid">
		<h1 class="text-center m-1">Resumen de estadía</h1>
		<div class="row d-flex justify-content-center">
			<form class="w-75" th:action="@{/vehicles/{id}(id = ${vehicle.id})}" th:object="${vehicle}" method="POST">
				<div class="row g-3 d-flex justify-content-between mt-1">
					<div class="col-auto">
						<label class="form-label" for="">Placa: </label>
					</div>
					<div class="col-auto">
						<input class="form-control" type="text" name="name" th:field="*{plate}" disabled>
					</div>
				</div>
	
				<div class="row g-3 d-flex justify-content-between mt-1">
					<div class="col-auto">
						<label class="form-label" for="">Fecha y hora de entrada: </label>
					</div>
					<div class="col-auto">
						<input class="form-control" type="text" name="entrada"  th:field="*{entry}" disabled>
					</div>
				</div>
	
				<div class="row g-3 d-flex justify-content-between mt-1">
					<div class="col-auto">
						<label class="form-label" for="">Fecha y hora de salida: </label>
					</div>
					<div class="col-auto">
						<input class="form-control" type="text" name="entrada"  th:field="*{exit}" disabled>
					</div>
				</div>
	
				<div class="row g-3 d-flex justify-content-between mt-1">
					<div class="col-auto">
						<label class="form-label" for="">Tipo de vehículo: </label>
					</div>
					<div class="col-auto">
						<input class="form-control" type="text" name="entrada"  th:value="${#strings.capitalize(vehicle.type)}" disabled>
					</div>
				</div>
	
				<div class="row g-3 d-flex justify-content-between mt-1">
					<div class="col-auto">
						<label class="form-label" for="">Marca: </label>
					</div>
					<div class="col-auto">
						<input class="form-control" type="text" name="brand" th:field="*{brand}" disabled>
					</div>
				</div>
	
				<div class="row g-3 d-flex justify-content-between mt-1">
					<div class="col-auto">
						<label class="form-label" for="">Modelo: </label>
					</div>
					<div class="col-auto">
						<input class="form-control" type="text" name="model" th:field="*{model}" disabled>
					</div>
				</div>
	
				<div class="row g-3 d-flex justify-content-between mt-1">
					<div class="col-auto">
						<label class="form-label" for="">Color: </label>
					</div>
					<div class="col-auto">
						<input class="form-control" type="text" name="color" th:field="*{color}" disabled>
					</div>
				</div>
	
				<div class="row g-3 d-flex justify-content-between mt-1">
					<div class="col-auto">
						<label class="form-label" for="">Dueño: </label>
					</div>
					<div class="col-auto">
						<input class="form-control" type="text" name="owner" th:field="*{owner}" disabled>
					</div>
				</div>
	
				<div class="row g-3 d-flex justify-content-between mt-1">
					<div class="col-auto">
						<label class="form-label" for="">Total a pagar: </label>
					</div>
					<div class="col-auto">
						<input class="form-control" th:value="${paymentString}" disabled>
					</div>
				</div>
				
				<div class="text-center">
					<button type="submit" class="btn btn-success">Realizar pago</button>
				</div>
			</form>
		</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/datetimeManager.js}"></script>
  </body>
</html>
