<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    lang="en"
>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Parking Manager | Salida Vehículo</title>
        <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.png}" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a th:href="@{/index}" class="navbar-brand ms-4">
                <img
                    width="50%"
                    height="50%"
                    th:src="@{/assets/parking_manager_brand.png}"
                />
            </a>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a th:href="@{/index}" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/vehicles/register}" class="nav-link"
                            >Ingreso de Vehículo</a
                        >
                    </li>
                    <li
                        class="nav-item"
                        sec:authorize="hasAnyAuthority('ROOT', 'ADMIN')"
                    >
                        <a th:href="@{/history}" class="nav-link">Historial</a>
                    </li>
                    <li
                        class="nav-item"
                        sec:authorize="hasAnyAuthority('ROOT', 'ADMIN')"
                    >
                        <a th:href="@{/users}" class="nav-link"
                            >Usuarios</a
                        >
                    </li>
                </ul>
            </div>
        </nav>
		
        <div class="container container-fluid">
            <h1 class="text-center m-1">Salida de vehículo del parqueadero</h1>
            <div class="row d-flex justify-content-center">
                <form
                    class="w-75"
                    th:action="@{/vehicles/retire/{id}(id = ${vehicle.id})}"
                    th:object="${vehicle}"
                    method="POST"
                >
                    <div class="row g-3 d-flex justify-content-between mt-1">
                        <div class="col-auto">
                            <label class="form-label" for="">Placa: </label>
                        </div>
                        <div class="col-auto float-right">
                            <input
                                class="form-control"
                                type="text"
                                name="name"
                                th:field="*{plate}"
                                id=""
                                placeholder="Type in the vehicle's plate"
                                disabled
                            />
                        </div>
                    </div>

                    <div class="row g-3 d-flex justify-content-between mt-1">
                        <div class="col-auto">
                            <label class="form-label" for=""
                                >Fecha y hora de entrada:
                            </label>
                        </div>
                        <div class="col-auto">
                            <input
                                class="form-control"
                                type="text"
                                name="entry"
                                th:field="*{entry}"
                                id="entrada"
                                disabled
                            />
                        </div>
                    </div>

                    <div
                        class="row g-3 d-flex justify-content-between align-items-center mt-1"
                    >
                        <div class="col-sm">
                            <label class="form-label" for=""
                                >Fecha y hora de salida:
                            </label>
                        </div>
                        <div class="col-sm">
                            <input
                                class="form-control"
                                type="text"
                                name="holder"
                                id="holder"
                                placeholder="Register the vehicle's exit datetime"
                                disabled
                            />
                        </div>
                        <input
                            type="hidden"
                            name="exit"
                            th:field="*{exit}"
                            id="datetimeManager"
                            value=""
                        />
                        <div class="col-sm text-center">
                            <input
                                class="btn btn-primary m-2 align-items-center"
                                type="button"
                                value="Registrar hora"
                                th:onclick="setTime()"
                            />
                        </div>
                    </div>

                    <div class="row g-3 d-flex justify-content-between mt-1">
                        <div class="col-auto">
                            <label class="form-label" for=""
                                >Tipo de vehículo:
                            </label>
                        </div>
                        <div class="col-auto">
                            <input
                                class="form-control"
                                type="text"
                                name="type"
                                th:value="${#strings.capitalize(vehicle.type)}"
                                disabled
                            />
                        </div>
                    </div>

                    <div class="row g-3 d-flex justify-content-between mt-1">
                        <div class="col-auto">
                            <label class="form-label" for="">Marca: </label>
                        </div>
                        <div class="col-auto">
                            <input
                                class="form-control"
                                type="text"
                                name="brand"
                                th:field="*{brand}"
                                disabled
                            />
                        </div>
                    </div>

                    <div class="row g-3 d-flex justify-content-between mt-1">
                        <div class="col-auto">
                            <label class="form-label" for="">Modelo: </label>
                        </div>
                        <div class="col-auto">
                            <input
                                class="form-control"
                                type="text"
                                name="model"
                                th:field="*{model}"
                                disabled
                            />
                        </div>
                    </div>

                    <div class="row g-3 d-flex justify-content-between mt-1">
                        <div class="col-auto">
                            <label class="form-label" for="">Color: </label>
                        </div>
                        <div class="col-auto">
                            <input
                                class="form-control"
                                type="text"
                                name="color"
                                th:field="*{color}"
                                disabled
                            />
                        </div>
                    </div>

                    <div class="row g-3 d-flex justify-content-between mt-1">
                        <div class="col-auto">
                            <label class="form-label" for="">Dueño: </label>
                        </div>
                        <div class="col-auto">
                            <input
                                class="form-control"
                                type="text"
                                name="owner"
                                th:field="*{owner}"
                                disabled
                            />
                        </div>
                    </div>
                    <br />
                    <div class="box-footer text-center mt-1">
                        <input
                            type="submit"
                            class="btn btn-success"
                            value="Generar pago"
                            id="paymentGenerator"
                            disabled
                        />
                    </div>
                </form>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"
        ></script>
        <script
            type="text/javascript"
            th:src="@{/js/datetimeManager.js}"
        ></script>
    </body>
</html>
